.section-carrossel {
    width: 100vw;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    font-size: 33px;
    margin-top: 2em;
}
.carrossel {
    margin: 3em;
    display: flex;
}
.foto-carrossel {
    width: 300px;
    margin: auto .1em;
}
.reservar {
    width: 250px;
    height: 45px;
    background-color: var(--cor-azul);
    color: var(--cor-branco);
}

@media screen and (max-width: 375px) {
    .foto-carrossel{
        width: 80px;
    }
  }