.section-carrossel {
    width: 100vw;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    font-size: 33px;
    margin: 2em auto 0 auto;
}

.reservar {
    width: 300px;
    height: 60px;
    margin: 0 auto 2em auto;
    background-color: var(--cor-azul);
    color: var(--cor-branco);
}

/*Begin carrossel */

.slider {
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.slider .slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
  width: calc(400px * 12);
}
.slider:hover ,  .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  width: 500px;
  margin: auto 5px;
}
.slide img {
  width: 400px;
  border-radius: 8px;
}

.slide img:hover {
  border: 1px solid var(--cor-azul);
}
.slider a{
  text-decoration: none;
}
.slide_desc {
  text-align: center;
  color: #000000;
  margin: 1em auto;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-410px * 6));
      transform: translateX(calc(-410px * 6));
  }
}



@media screen and (max-width: 375px) {
    .foto-carrossel{
        width: 80px;
    }
}