.destaque{
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(255, 255, 255, 0.37),rgba(255, 255, 255, 0.349)), url(../img/img3.jpg) no-repeat;
    background-position: center;
    background-size:cover;   
    background-attachment: fixed;


    display: flex;
    justify-content: center;
    align-items: center;
}

.destaque h2 {
    margin:auto;
}


.sobre {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 58, 58);
    

}

.sobre-left {
    width: 50%;    
    text-align: center;
    padding-left: 5em;
}
.sobre-left p, .sobre-left h2 {
    text-align: justify;
    color: var(--cor-branco);
}

.sobre-left h2 {
    margin-bottom: 2em;
    font-size: 40px;
}
.sobre-left p {
    font-size: 18px;
}

.sobre-rigth{
    width: 50%;
    text-align: center;
}
.persona {
    margin: 2em auto 0 auto;
}


@media screen and (max-width: 768px) {
    .sobre {
        flex-direction: column;
    }
    .sobre-left, .sobre-rigth {
        width: 90%;
        padding: 0;
    }
    
    .persona {
        width: 400px
    }
}

@media screen and (max-width: 375px) {
    .sobre {
        flex-direction: column;
    }
    .sobre-left, .sobre-rigth {
        width: 90%;
        padding: 0;
    }
    
    .persona {
        width: 300px;
    }
}
