.nav-menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between
}
.menu-topo{
    margin-right: 100px;
}
.logo-topo{
    height: 130px;
    margin: 5px 20px 0 20px;
}

.menu-item {
    font-family: var(--font);
    font-weight: 700;
    list-style: none;
    margin: 8px;
    display: inline;

}

.menu-item a {
    text-decoration: none;
    color:var(--cor-azul)
}

