.nav-menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between
}

.menu-topo{
    margin-right: 100px;
}

#burger {
    display: none;
}
.logo-topo{
    height: 130px;
    margin: 5px 20px 0 20px;
}

.menu-item {
    font-family: var(--font);
    font-weight: 700;
    list-style: none;
    margin: 8px;
    display: inline;

}

.imoveis:hover{
    font-size: 24px;
}
.menu-item a {
    text-decoration: none;
    color:var(--cor-azul)
}

@media screen and (max-width: 768px) {
    .menu-item{
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
    #itens {
        display: none;
        padding-bottom: 2em;
    }
   
    .menu-item{
        display: block;
        text-align: right;
        font-size: 20px;
        margin-right: -200px;

    }
    #burger {
        display: block;
        width: 100vw;
        padding: 20px;
        text-align: right;
        margin-right: 1em;
        font-size: 30px;
    }
}



